header {
  #header-top {
    background-color: #007878;
    width: 100%;
    height: 55px;
  }
  .header-top {
    display: flex;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 700px;
    gap: 10px;
    text-decoration: none;
  }
  li{
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: white;
    list-style: none;
    list-style-type: none;
  }
}
